* {
    font-family: "Space Grotesk";
}

body {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk";
}

/* MAX-WIDTH CONTAINER */

.container {
    margin: 0 auto;
    padding: 0 24px;
    padding-top: 40px;
}

/* NAVBAR */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;   
    align-items: center;        
    gap: 8px;
  }
  

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: center;
}

nav ul li a:hover {
    font-weight: 500;
}

/* Menu */

.hamburger {
    border: none;
}

/* Specific NavBar CSS Rules */

#logo {
    /* Pushes everything to >> right */
    margin-right: auto; 
    font-size: 28px;
    font-weight: 500;
}

#logo a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}

#logo a:hover {
    text-decoration: none;
    cursor: pointer;
}

#quote {
    outline-style: solid;
    outline-color: black;
    outline-width: 1.25px;
    border-radius: 8px;
    margin-left: 20px;
}

#quote a:hover {
    font-weight: 300;
    text-decoration: none;
}

#quote:hover {
    background: #242424;
    background: linear-gradient(3deg,rgba(36, 36, 36, 1) 0%, rgba(5, 5, 5, 1) 100%);
    cursor: pointer;
}

#quote a:hover {
    color: #B9FF66;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: auto;
    cursor: pointer;
}

.alt-font {
    font-weight: 900;
    padding-left: 5px;
    font-family: 'Bungee Shade';
    font-size: 50px;
    /* background-color: #B9FF66;
    border-radius: 6px; */
    /* color: #072d0b; */
    /* background-image: linear-gradient(45deg, #6EF57C , #B4FF96 50%, #7FFF08 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;  */
}

/* .alt-font2 {
    font-weight: 800;
    border-radius: 2px;
} */

/* HERO */

.hero-section {
    display: flex;
    margin-top: 140px;
    margin-bottom: 60px;
}

.hero-section img {
    display: flex;
    justify-content: flex-end;
}

.black-btn{
    color: white;
    background: #242424;
    background: linear-gradient(3deg,rgba(36, 36, 36, 1) 0%, rgba(5, 5, 5, 1) 100%);
    border-radius: 8px;
    width: 190px;
    height: 50px;
    border: none;
}

.black-btn:hover {
    cursor: pointer;
    background-color: rgb(33, 33, 33);
    color: #B9FF66;
}

.hero-info {
    display: flex;
    margin-right: auto;
    flex-direction: column;
    flex: 1;
    max-width: 450px;
    gap: 40px;
}

.hero-section h3 {
    font-size: 45px;
    font-weight: 500;
    margin: 0;
}

.hero-info p {
    font-weight: 300;
    margin: 0;
}

/* COMPANIES ENDORSMENT SECTION */

.companies-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 0px;
    padding-bottom: 30px;
}

/* SERVICES */

.description {
    display: flex;
    align-items: center;
    gap: 15px;
}

.green-title {
    background-color: #B9FF66; 
    padding: 5px 5px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 500;
    margin-right: 10px ;
}

.services-info p {
    font-size: 12px;
}

.services-learn-more {
    display: grid;
    padding-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    max-width: 100%;
}

.display-box {
    outline-style: solid;
    outline-color: black;
    outline-width: 1.3px;
    border-radius: 50px;
    box-shadow: 0px 6px 0px 0px black;
    padding: 20px;
    display: flex;
}

.display-box p {
    /* align-self: flex-end; NOT WORKING YET */
}

.services-learn-more h3 {
    border-radius: 5px;
    padding: 5px;
    font-weight: 500;
    font-size: 22px;
    max-width: fit-content;
}

.services-learn-more p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.services-learn-more p img {
    width: 30px;
}

.illustration {
    width: 180px;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 30px;
}

/* Box Styling */

.grey-box {
    background-color: #F3F3F3;
}

.black-box {
    background-color: #191A23;
}

.black-box p {
    color: #F3F3F3;
}

.green-box {
    background-color: #B9FF66;
}

#green-highlight {
    background-color: #B9FF66;
}

#white-highlight {
    background-color: #ffffff;
}

/* CONTACT PROPOSAL */

.contact-us-proposal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F3F3F3;
    border-radius: 32px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 50px;
    width: 100%;
    height: 180px;
}

.invisible-wrapper {
    display: flex;
    align-items: center;
    height: 320px;
    margin-top: 70px;    
    margin-bottom: 60px;
}

.image-clip {
    height: 260px;
    overflow: visible;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 145px;
}

.image-clip img {
    height: 135%;
    width: auto;
}

.contact-us-proposal p {
    font-size: 14px;
}

#header {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
}

/* CASE STUDIES */

.case-studies {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.case-studies p {
    font-size: 12px;
}

.case-studies-info {
    border-radius: 22px;
    background-color: #191A23;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 30px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.case-studies-info p {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
}
.case-studies-info img {
    width: 10px;
}

.box-highlight {
    border-right: 1px solid #FFF;
}

.green-text {
    color: #B9FF66;
}

.case-box {
    padding-left: 20px;
    padding-right: 60px;
}

/* OUR WORKING PROCESS */

.large-number {
    font-weight: 500;
    font-size: 30px;
}

.accordion-item {
    background-color:#F3F3F3;
    overflow: hidden;
    border-radius: 22px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #191A23;
    box-shadow: 0px 3px 0px 0px black;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border-radius: 22px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 22px;
}

.accordion:after {
    content: '\02795'; 
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    /* color: #777; */
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
    /* Unicode character for "minus" sign (-) */
  }

.accordion:hover {
    /* background-color: #d5d5d5; */
}

.active {
    background-color:#B9FF66;
}

.accordion-item.open {
    background-color:#B9FF66;
}

.panel p{
    border-top: solid 1px #191A23;
    padding-top: 5px;
    background-color: none;
}

.panel {
    padding: 0 18px;
    border-radius: 22px;
    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.working-process {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.working-process p {
    font-size: 12px;
}

/* TEAM GRID */

.team-grid {
    display: grid;
    padding-top: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    max-width: 100%;
}

.team-btn {
    float: right;
    margin-top: 30px;
}

.name-title h3,
.name-title p {
    margin: 0;
}

.display-box2 {
    outline-style: solid;
    outline-color: black;
    outline-width: 1.3px;
    border-radius: 50px;
    box-shadow: 0px 6px 0px 0px black;
}

.name-title {
    display: flex;
    flex-direction: column; 
    align-self: flex-end;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    padding: 25px 25px 25px 25px;
}

.row-1 p {
    font-size: 13px;
}

.row-1 img:last-child {
align-self: flex-start;
}

.row-2 {
    padding: 0px 25px 25px 25px;
}

.row-2 p {
    border-top: 1px solid #000000;
    padding-top: 20px;
}

/* TESTIMONIAL SECTION */

.testimonial-section {
    background-color: #191A23;
    border-radius: 22px;
    padding: 80px;
    color: #F3F3F3;
}

.speech-bubble {
    position: relative;
    font-size: 19px;
    padding: 30px 60px 50px 60px;
    margin: 1em 0 3em;
    color: #F3F3F3;
    border-radius: 20px;
    border-style: solid;
    border-color: #B9FF66;
    width: 600px; 
    justify-self: center;
    /* box-shadow: 0px 15px 0px 0px #B9FF66; */
}

.speech-bubble:before,.speech-bubble:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    left: 50px;
    width: 0;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #B9FF66 transparent;
}

.speech-bubble:before {
    bottom: -12.5px;
    border-width: 15px 15px 0;
    border-color: #191A23 transparent;
    z-index:1;
}

.name-title2 {
    display: flex;
    flex-direction: column;
}

.name-title2 * {
    font-size: 17px;
    margin: 0;
}

.bottom-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.swiper-button {
    color: #F3F3F3;
    margin-left: 73px;
    margin-right: 73px;
}

.nav-btn {
    color: #F3F3F3;
}



/* CONTACT FORM */

.contact-wrapper {
    display: flex;
    border-radius: 22px;
    background-color:#F3F3F3;
    justify-content: space-evenly;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px 30px 15px 30px;
}

.contact-form input[type='text'] {
    border-radius: 6px;
    outline-style: solid;
    outline-color: #191A23;
    outline-width: 1px;
    border: none;
    padding: 15px 10px 10px 10px;
}

#message input {
    outline-style: solid;
    outline-color: #191A23;
    outline-width: 1px;
    border-radius: 6px;
    border: none;
    padding: 15px 10px 100px 10px;  
}

.text-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    font-size: 14px;
}

/* FOOTER */

.footer {
    border-radius: 22px 22px 0 0;
    background: #242424;
    background: linear-gradient(3deg,rgba(36, 36, 36, 1) 0%, rgba(5, 5, 5, 1) 100%);
    color:#FFF;
    font-weight: 100;
    font-size: 14px;
    align-items: center;
    padding: 40px 40px 20px 40px;
}

.footer-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 32px;
    text-decoration: underline;
    text-underline-offset: 2.5px;
    text-decoration-thickness: .2px;
    text-decoration-skip-ink: auto;
    cursor: pointer;
}

.first-footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-contact-info a:empty {
    display: none;
}

.footer-nav ul li:hover {
    font-weight: 500;
    background-color: #ffffff;
    color: #191A23;
    border-radius: 2px;
    text-decoration: none;
}


.second-row-footer {
    display: flex;  
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid #FFF;
}

.email-form {
    background-color: #292A32;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-top: 15px;
    width: 480px;
    gap: 20px;
}

.email-form * {
    border-radius: 12px;
    border: none;
    flex-grow: 1;
}

.email-form input {
    background-color:#292A32;
    outline-style: solid;
    outline-color: #FFFFFF;
    outline-width: 1px;
    padding: 18px;
    color: #FFFFFF;
    caret-color:#FFFFFF;
}

.email-form input:focus {
    color: #FFFFFF;
}

.email-form button{
    outline: none;
    background-color: #B9FF66;
    padding: 18px;
}

.copyright-statement {
    display: flex;
    align-items: center;
    gap: 50px;
}

.copyright-statement a{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: auto;
    cursor: pointer;
}

.copyright-statement a:hover{
    font-weight: 400;
}

.copyright-statement {
    margin-top: 20px;
}

#contact-us-highlight {
    background-color: #B9FF66;
    color: #191A23;
    font-weight: 500;
    border-radius: 5px;
    width: fit-content;
    padding: 3px;
}

/* Adjust Navbar */
@media (max-width: 1024px) { 
    .menu {
        display: none;
    }
    .hero-section {
        flex-direction: column;
    }
    .mobile-menu {
        display: flex;
    }
    .mobile-menu button {
        margin-left: auto;
    }
    .hamburger {
        background-color: white;
    }
    #mobile-logo a{
        display: flex;
        align-items: center;
    }
    .hero-section {
        margin: 0;
    }
    #hero-statement {
        font-size: 35px;
    }
    .alt-font {
        font-size: 38px;
    }
    #hero-desktop-img {
        display: none;
    }
    .container {
        padding: 0;
    }
    .black-btn {
        width: 100%;
    }
    .companies-container {
        display: grid;
        padding-top: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        max-width: 100%;
    }
    .description {
        flex-direction: column;
        gap: 0px;
    }
    .description p{
        font-size: 15px;
    }



    .first-footer-row {
        flex-direction: column;
    }
    .second-row-footer {
        flex-direction: column;
    }
}

/* Small phones */
@media (max-width: 480px) { 

}

/* Phones */
@media (max-width: 768px) { 

}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) { 

}

/* Desktops */
@media (min-width: 1025px) { 
    .mobile-menu {
        display: none;
    }
    #hero-mobile-img {
        display: none;
    }
    .container {
        max-width: 1150px;
    }
}
